body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 300px;
    margin: auto;
}

input,
button {
    padding: 8px;
}

#resultado {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

img {
    width: 150px;
}